/*br-1177*/

:root {
   --font-family: "Roboto", sans-serif;
   --padding-block: 40px;
   --fs-11: 11px;
   --fs-12: 12px;
   --fs-13: 13px;
   --fs-14: 14px;
   --fs-15: 15px;
   --fs-16: 16px;
   --fs-19: 19px;
   --fs-20: 20px;
   --fs-24: 24px;
   --fs-27: 27px;
   --fs-36: 36px;
   --color-white: #ffffff;
   --color-smoky-white: #f3f3f3;
   --color-smoky-white2: #efefef;
   --color-black: #313131;
   --color-black-04: rgba(49, 49, 49, 0.4);
   --color-blue: #155ea0;
   --color-blue2: #165ea0;
   --color-blue-light: #3798ee;
   --color-purple-blue: #2b5f9b;
   --color-blue-alice: #f3f9ff;
   --color-pale-blue: #dedfe7;
   --color-green: #008001;
   --color-green2: #208220;
   --color-grey: #80868b;
   --color-gray-light: #f4f4f4;
   --color-gray-light2: #d8d8d8;
   --color-gainsborough: #dedede;
   --color-forest-wolf: #e5e5e3;
   --color-orange-yellow: #ffc025;
   --color-modal-bg: rgba(0, 0, 0, 0.6);
   --color-modal-25: rgba(0, 0, 0, 0.25);
   --color-pearl-blackberry: #71717a;
   --color-telegray: #8a8a8a;
   --color-light-telegray: #c8c8c8;
   --color-light-telegray2: #d2d2d2;
   --color-light-telegray3: #c2c2c2;
   --color-silver: #c6c6c6;
}

#footer-new-section a:focus,
#footer-new-section a:active {
   outline: none;
}

#footer-new-section nav,
#footer-new-section footer,
#footer-new-section header,
#footer-new-section aside {
   display: block;
}

#footer-new-section a,
#footer-new-section a:visited {
   text-decoration: none;
}

#footer-new-section a:hover {
   text-decoration: none;
}

#footer-new-section ul,
#footer-new-section ol {
   margin: 0;
}

#footer-new-section ul li {
   list-style: none;
}

#footer-new-section img {
   vertical-align: top;
}

#footer-new-section .custom-shape-top {
   top: -1px;
}

#footer-new-section .custom-shape {
   opacity: 0.1;
   position: absolute;
   width: 100%;
}

#footer-new-section .custom-shape-top svg {
   width: calc(271% + 1.3px);
   height: 242px;
   transform: translateX(-50%) rotateY(180deg);
}

#footer-new-section .custom-shape svg {
   height: auto;
   display: block;
   width: calc(100% + 1.3px);
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}

#footer-new-section>.custom-shape-top .custom-shape-fill {
   fill: #165EA04F;
}

#footer-new-section>.custom-shape .custom-shape-fill {
   fill: #fff;
   transform-origin: center;
   transform: rotateY(0deg);
}

#footer-new-section [class*=__container] {
   position: relative;
   padding-left: var(--padding-container);
   padding-right: var(--padding-container);
   margin: 0 auto;
   width: 1440px;
   max-width: var(--max-width-container);
}

#footer-new-section .hover-link {
   -webkit-transition: color 0.3s;
   transition: color 0.3s;
}

#footer-new-section .hover-link:hover {
   color: var(--color-blue-light);
}

#footer-new-section .hover-link:hover a,
#footer-new-section .hover-link:hover button {
   color: var(--color-blue-light);
}

#footer-new-section .footer {
   background-image: linear-gradient(180deg, #235480 0%, #225E96 100%);
   position: relative;
   overflow: hidden;
   color: var(--color-white, #fff) !important;
}

#footer-new-section .footer ol {
   list-style: none;
}

#footer-new-section .footer__background {
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
   z-index: -1;
}

#footer-new-section .footer__body {
   padding-top: 50px;
   padding-bottom: 50px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   gap: 20px;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   gap: 40px;
   min-height: 350px;
}

#footer-new-section .footer__nav-title {
   margin-bottom: 20px;
   font-size: 18px;
   font-weight: 600;
}

#footer-new-section .footer__menu-list {
   font-size: 14px;
   font-weight: 500;
}

#footer-new-section .footer__menu-list a {
   display: inline-block;
   font-weight: 600;
}

#footer-new-section .footer__address-list {
   font-size: 14px;
   font-weight: 400;
   line-height: 155%;
}

#footer-new-section .footer__address-list li {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 5px;
}

#footer-new-section .footer__address-list a {
   display: flex;
   cursor: pointer;
}

#footer-new-section .footer__address-list li:not(:last-child) {
   margin-bottom: 5px;
}

#footer-new-section .footer__address-icon {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin-right: 5px;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

#footer-new-section .footer__address-icon img {
   width: 15px;
}

#footer-new-section .footer__social {
   text-align: center;
}

#footer-new-section .footer__social-grid {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   gap: 10px;
}

#footer-new-section .footer__icon {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   width: 56px;
   min-width: 56px;
   height: 56px;
   border-radius: 10px;
}

#footer-new-section .footer__icon svg {
   width: 28px;
   height: 28px;
}

#footer-new-section .footer__icon svg path {
   fill: var(--color-white) !important;
}

#footer-new-section .footer .facebook {
   background-color: rgb(59, 89, 152);
}

#footer-new-section .footer .twitter {
   background-color: rgb(29, 161, 242);
}

#footer-new-section .footer .youtube {
   background-color: rgb(205, 32, 31);
}

#footer-new-section .footer .instagram {
   background-color: rgb(38, 38, 38);
}

#footer-new-section .footer__members {
   text-align: center;
}

#footer-new-section .footer__members-grid {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
}

#footer-new-section .footer__members-cell {
   padding-right: 20px;
}

#footer-new-section .footer__members-cell img {
   max-width: min(190px, 38vw);
   max-height: 136px;
}

@media (min-width: 768px) {
   body {
      --padding-container: 24px;
   }

   #footer-new-section .footer__body {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
   }

   #footer-new-section .footer__nav-title {
      margin-bottom: 40px;
   }

   #footer-new-section .footer__social {
      text-align: start;
   }

   #footer-new-section .footer__social-grid {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
   }

   #footer-new-section .footer__members {
      text-align: start;
   }

   #footer-new-section .footer__members-cell {
      padding-right: 40px;
   }

   #footer-new-section .footer__members-cell img {
      max-width: 190px;
   }
}

@media (min-width: 992px) {
   #footer-new-section .title {
      font-size: var(--fs-36);
   }

   #footer-new-section .save {
      font-size: var(--fs-14);
   }

   #footer-new-section .footer__body {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
   }

   #footer-new-section .footer__members-cell img {
      max-width: min(190px, 15vw);
   }
}

@media (min-width: 1024px) {
   body {
      --padding-container: 48px;
   }
}

@media (max-width: 1280px) {
   #footer-new-section [class*=__container] {
      padding: 2rem;
      width: 100%;
   }
}