@use '../assets/variablesSCSS.scss' as *;

#product-page-new .product-tabs {
   .js-tabs-inner {
      padding-bottom: 15px;
      line-height: 1.3;
   }

   &__button {
      padding: 16px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-weight: 500;
      font-size: var(--fs-16);
      line-height: 130%;
      text-transform: capitalize;
      border-top: 1px solid #dedede;

      svg {
         transition: transform $tr-time;
      }

      .js-tabs-open & svg {
         transform: rotate3d(1, 0, 0, 180deg);
      }
   }

   &__images {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
   }

   &__images-cell {
      padding-bottom: 103%;
      position: relative;
      overflow: hidden;
      border-radius: 10px;

      img {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}