@use '../assets/variablesSCSS.scss' as *;

.product-swiper {
   position: relative;
   margin-bottom: 20px;
   width: 100%;

   @media (min-width:992px) {
      width: min(576px, calc((100vw - 30px - var(--padding-container) * 2) / 2));
   }

   &__main-sell {
      position: relative;
   }

   &__main {
      margin-bottom: 15px;
      overflow: hidden;

      .swiper-slide {
         cursor: grab;
      }
   }

   &__main-prev,
   &__main-next {
      padding: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;

      &.swiper-button-disabled {
         opacity: 0.2;
      }
   }

   &__main-floor {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
   }

   &__main-prev {
      left: 0;
   }

   &__main-next {
      right: 0;
   }

   &__thumb {
      overflow: hidden;

      .swiper-slide-thumb-active {
         border: 1px solid var(--color-pale-blue);
         // border-radius: 10px;
         overflow: hidden;
      }
   }

   &__sell {
      position: relative;
      padding-bottom: 100%;
      overflow: hidden;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      .swiper-zoom-container {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

   .full-screen {
      padding: 10px;
      position: absolute;
      top: 20px;
      right: 40px;
      z-index: 3;

   }

   &__outside {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-color: var(--color-modal-bg);
      display: flex;
      flex-direction: column;

      .swiper-wrapper {
         flex: 1 1 auto;
         align-items: center;
      }

      .product-swiper__sell {
         --size: min(calc(90vh - 30px), calc(90vw - 30px));
         margin: 0 auto;
         max-width: var(--size);
         padding-bottom: var(--size);
         overflow: visible;
      }
   }

   &__outside-header {
      padding: 10px 30px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--color-modal-bg);
   }

   &__outside-close {}

   &__outside-pagination {
      position: relative;
      color: var(--color-white);
      display: flex;
   }

   &__outside-prev,
   &__outside-next {
      padding: 20px;
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      z-index: 2;

      svg {
         width: min(3vw, 3vh);
         height: 100%;
      }

      &.swiper-button-disabled {
         opacity: 0.2;
         pointer-events: none;
      }

   }

   &__outside-next {
      right: 10px;
   }

   &__outside-prev {
      left: 10px;
   }



}